{% extends "base.html" %}

{% block extrahead %} 
{{info_form.media}}

<script src="{{ STATIC_URL }}js/editpage.js"></script>

{% endblock %}

{% block content %}
<div id="emsg">&nbsp;</div>
  <form id="My_form" action="{%url edit%}"
 method="post">

    {% csrf_token %}

<div id = "column1">

{%for field in info_form reversed%}

{% ifequal forloop.counter 5 %}</ul></div>   <div id = "column2">{% endifequal %}
  {{field.name}}<br>{{ field }} <br>

{% endfor %}</div> 

<input id="submit" type="submit" value="Save">

<span style="font-size: 150%"> </span><a href={%url home %} title="cancel">Cancel</a>


</form>
<hr color = "black" >
<BR />
<p><a href={%url home%} >home</a></p>
<p><a href={%url requests%} >requests</a></p>

{%endblock%}
{% block extra_body %}
{% endblock %}   
