{% extends "base.html" %}
{% load request_tag %}
{% load firstapp_tags %}
{% load request_admin %}

{% block content %}
<h2>Requests by priority:</h2>
<table>
    <tr>
        <th>From</th>
        <th>Path</th>
        <th>Method</th>
        <th>Date/Time</th>
        <th>Priority</th>
    </tr>
{%for req in request|slice:":10"%}
<tr>
<td>{{req.user}}</td>
<td><a href="..{{ req.path }}" title="{{ req.path }}">{{req.path}}</a></td>
<td>{{req.method}}</td>
<td>{{req.time}}</td>
<td>{{req.priority}}</td>
<td> <a href="{% edit_link req %}">Edit Admin</a>

</tr>
{%endfor%}
</table>
<hr color=black>
<p><a href={%url home%} >home</a></p>

{%endblock%}
